
:root{
  box-sizing: border-box;
  --primary: white;
  --secondary: black;;
  
  }
  
  *, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
  }
  
  body{
    font-family: didot;
    font-size: 1rem;
  }
  .boddyhidden{
    overflow: none;
  }
  
  #header {
    overflow-x: hidden;
    overflow:hidden;
    padding: 20px 10px;
    text-align:center;
    margin: 30px auto;
    width: 100%;
    height: 62px;
  }
  #a {
    text-align:center;
    text-decoration: none;
    line-height: 25px;
    padding: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
  
    color: rgb(255, 255, 255);
  
     }
  
  .logo{
    padding: 0px 30px;
  position:relative;
  top: 0vh;
  text-align:center;
  }
  
  #hamburger-menu-shown{
    overflow:hidden;
  }
  .header-dropdown{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
    position: absolute;
  }
  
  .shop-mobile{
  
   margin-left: auto;
   margin-right: auto;
   font-size: 30px;
  }
  
  .hamburger{
  --hm-width:3em;
  --hm-height: 0.4em;
  --spacing: calc(var(--hm-width) / 4);
  
  width:  var(--hm-width);
  height: var(--hm-height);
  background-color: var(--primary);
  position: fixed;
  right:10px;
  transition: transform 0.2s ease-in-out;
  z-index: 2000;
  right: 30px;
  top:50px;
  }
  
  .hamburger::after, .hamburger::before{
  content: "";
  width: 50%;
  height: inherit;
  background-color: rgb(255, 255, 255);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-in-out;
  }
  
  .hamburger::after{
    top: calc(-1 * var(--spacing));
  }
  
  .hamburger::before{
    top: var(--spacing);
    left: 50%;
  }
  
  
  .close.hamburger::before, .close.hamburger::after{
  left: 50%;
  transform: translate(-50%) rotate(-90deg);
  opacity: 100%;
  }

  
  .close.hamburger{
    transform: rotate(45deg);
    background-color: white;
  
  }
  
  
  nav{
    height: 100vh;
    position: fixed;
    background-color: var(--secondary);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin:  right center;
      opacity: 0;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in;
    z-index: 1000;
    color:black;
  }

  .hamburger {
    background-color: white;
  }
  
  .reveal-nav{
    transform: scaleX(1);
    opacity: 1;
    overflow-y: hidden;
    max-height: 80vh;
  }
  
  .menu{
    list-style: none;
    text-align: center;
  }
  .menu-item{
  color: white;
  text-decoration: none;
  font-size: calc(1.5rem + 2vw);
  text-align: center;
  opacity: 0.8;
  }
  
  .menu-item:hover{
    opacity: 1;
  }
  
  .menu li + li{
    margin-top: 1em;
    text-align: center;

  }
  
  .reveal-items .menu-item{
    text-align: center;
  opacity: 1;
  overflow-y: hidden;
  }
  